body {
    /* background: url(/images/eg1.jpeg); */
    background-color: red;
    margin: 0;
    width: 333px;
    height: 70px;
}

.buttons {
    width: fit-content;
    margin: auto;
    font-size: 30px;
}

